body {
    background-image: url("../images/renga.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin:0;
    padding:0;
}
#container {
    width:800px;
    margin: auto;
    border-top:7px solid  #2f4f4f;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 30px;
    padding-right: 30px;
    color:rgb(255,255,255)
} 
nav {
    height: 32px;
    margin-bottom: 10px;
    padding: 0;
    background-color: #2f4f4f;
}
nav h2 {
    display: none;
}
nav ul {
    height: auto;
    margin: 0;
    padding: 0;
    line-height: 100%;
    list-style-type: none;
}
nav ul li {
    margin: 0;
    padding: 0;
    float: left;
    width: 200px;
    text-align: center;
    font-size: 14px;
}
nav ul li a {
    border-right: 1px solid #666;
    padding: 8px 20px;
    display: block;
    position: relative;
    color: #fff;
    background-color: #333;
    text-decoration: none;
}
nav ul li a:link {
    color:#fff;
    text-decoration:none;
}

nav ul li a:visited {
    color:#fff;
    text-decoration:none;
}

nav ul li a:hover {
    border-color: #699;
    color:#333;
    background-color: #699;
    text-decoration: none;
}
h2.catch{
    color:#6FC282;
}